<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WATCHING U</title>
    <link rel="stylesheet" href="../../web/css/moyenne.css">
  </head>
  <body>
    <div id="DIVsaisie" contenteditable="true">
      <button id="BUTenvoi">Envoyer</button>
    </div>

    <div id="DIVanalyse">
      <div id="DIVlettre">
      </div>
      <div id="DIVmot">
      </div>
      <div id="DIVphrase">
        <button id="BUTmoyenne">Moyenne</button>
    </div>
  </body>
</html>
